*,html{
  padding: 0;
  margin: 0
}

/* Global Styles */

  body{
    font-size: 0.9em;
    font-family: 'Montserrat';
    opacity: 0.89;
    background: #E8EBE2;
  }

  .button{
      font-family: 'Montserrat';
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
      background: #8F918A;
      border-radius: 3px;
      padding: 10px 20px;
      color: #EDEDED;
      text-decoration:none;
      box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.50), inset 0px 1px 0px 0px rgba(255,255,255,0.50);
  }

  img{
      width: 100%;
      height: auto;
  }

/*------------------------*/

/* Navigation  */
.header{
    display: block;
    margin: 10px auto;
}
ul.nav{
    text-align: right;
    margin: 20px;
    float: right;
}

.logo img{
    margin: 15px 0 0 0;
    height: 20px;
    width: auto;
}
.social li,
.nav li{
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    display: inline;
}
.nav a{
    font-size: 0.8em;
    color: #8B8B8B;
    line-height: 18px;
    text-decoration: none;
    margin: 20px 20px;
    float: left;
}
.nav a:last-of-type{
  margin: 0 0 0 20px;
}

/*----------*/

/*  Body Element  */
.intro{
  margin: 5% auto;
  padding: 0 20px;
  display: block;
}
.intro h1{
  font-family: Sirba-Bold;
  font-size: 2em;
  color: #8F918A;
  line-height: 1.2em;
  text-align: center;
  margin: 10px 0;
  display: block;
}
.intro p{
    font-family: 'Georgia';
    font-size: 0.8em;
    color: #8F918A;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

/* Footer Styles*/

.copyright{
  float: left;
  clear: both;
  font-size: 0.6em;
  color: #8B8B8B;

}
.footer{
    display: block;
    margin: 10px auto;
}
.footer .button{
  float: right;
  display: block;
  margin: 0 10px;
}
.social{
  float: right;
}
.social a{
    color: #8F918A;
    font-size: 1.2em;
    padding: 20px 0;
}
/* Project View Style*/
.design{
  display: block;
  margin: 0 auto;
  padding: 0 !important;
}
.photo{
  display: inline-block;
  margin: 0 auto;
}
.project{
  padding: 0 !important;
  margin: 0 ;
  display: inline-block;
}
